---
title: Home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <main>
      <!-- Start homepage hero -->
      <section class="hero">
        <div class="namecard">
          <h1>{{ site.display_name }}</h1>
          <h2>{{ site.description }}</h2>
        </div>

        <ul class="cta">
          {% for link in site.data.nav-links %}
          <li><a class="button" href="{{ link.url | prepend: site.baseurl }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </section><!-- End homepage hero -->
    </body>
