<!-- Blog post index item -->
<li>
  <time class="post-item-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B, %Y" }}</time>

  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="no-margin">
      {{ post.title }}
    </h2>
  </a>

  <p class="timer">{{ post.content | number_of_words | divided_by: 160 | floor | prepend: '(a ' | append: ' minute read)' }}</p>

  <p>{{ post.excerpt | truncatewords: 30 }}</p>
</li><!-- End blog post index item -->
